* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
}
/* header styles*/
header {
  background: url(../images/banner/banner2.png) no-repeat left center;
  background-size: contain;
}
.header-style {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
  margin-left: auto;
  flex-direction: column;
}
.header-title {
  font-weight: 700;
  font-size: 65px;
  margin-left: 500px;
  color: #151414;
}
.header-description {
  font-size: 16px;
  color: #444343;
  margin-left: 550px;
  margin-top: 24px;
}
.header-button {
  margin-top: 28px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background: #f15b22;
  border-radius: 5px;
  border: 0;
  padding: 20px 26px;
}
